/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: black;
  font-size: 30px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: Courier New;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
  
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: #444;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #E02432;
  top: 0;
  left: -100%;
  transition: 0.5s;
}
.header .main-nav > li > a:hover {
  color: #E02432;
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
/* Start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color: #E02432;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.landing .go-down:hover {
  color: #E02432;
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: #E02432;
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #444;
  font-size: 20px;
}
/* End Features */
/* Start Services  */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .special-heading {
  color: #E02432;
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}
.services .container .ser {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-family: Courier New;
}
.services .services-content {
  display: block;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}
.services .services-content .srv {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: #E02432;
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 10px;
}
.services .services-content .srv .text p {
  color: #444;
  line-height: 1.6;
  font-size: 17px;
   
}
/* End Services  */
/* Start About */
.about {
  padding-top: 60px;
  padding-bottom: calc(var(60px) + 60px);
}
.about .special-heading {
  color: #E02432;
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}
.about .container .ser {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-family: Courier New;
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #E02432;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var #E02432;
  border-bottom: 80px solid var #E02432;
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: #E02432;
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #444;
}
/* End About */
/* Start Skills */
.sk {
  padding-top: 60px;
  padding-bottom: calc(var(60px) + 60px);
}
.sk .special-heading {
  color: #E02432;
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}
.sk .container .ser {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-family: Courier New;
}
.sk .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .sk .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.sk .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .sk .about-content .image {
    margin: 0 auto 60px;
  }
}
.sk .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #E02432;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.sk .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var #E02432;
  border-bottom: 80px solid var #E02432;
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .sk .about-content .image::before,
  .sk .about-content .image::after {
    display: none;
  }
}
.sk .about-content .image img {
  max-width: 100%;
}
.skills {
  display: flex;
  align-items: center;
}

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #444;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #E02432;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transform: uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 75%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .javascript {
  width: 60%;
}
.progress-line .java {
  width: 75%;
}
.progress-line .db {
  width: 60%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #444;
  border-top-color: #444;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 10px;
  font-weight: 700;
  background: #444;
  padding: 1px 5px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "75%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .javascript::after {
  content: "60%";
}
.progress-line .java::after {
  content: "75%";
}
.progress-line .db::after {
  content: "60%";
}

/* ////........Media Query........//// */

@media (max-width: 991px) {

  .skills-bar .bar .progress-line{
      width: 250px;
      height: 15px;
  }
  .progress-line .html {
    width: 70%;
  }
  .progress-line .css {
    width: 70%;
  }
  .progress-line .javascript {
    width: 70%;
  }
  .progress-line .java {
    width: 70%;
  }
  .progress-line .db {
    width: 70%;
  }
}
/* End Skills */
/* Start Contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: transparent;
  background-image: url(../img/2386836.jpg);
  background-size: cover;
  height: calc(100vh - 80px);
  position: relative;
}
.contact .special-heading {
  color: #E02432;
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}
.abdo{
  color: black;
  text-align: center;
  text-decoration: underline;
  font-family: Courier New;
}
.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: black;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: black;
  text-decoration: none;
}

@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 15px;
  }
}
/*Start Footer*/
.footer .social{
  text-align: center;
  padding-bottom : 25px;
  color: #777;
}
.footer .social a{
  font-size: 24px;
  color: black;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 60% ;
  margin: 0 8px;
  opacity: 0.75; 
}
.footer .social a:hover{
  opacity: 1;
  color: #E02432;
}
.footer ul{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}
.footer ul li a{
  color: #444;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a:hover{
  opacity: 1;
  color: #E02432;
}
.footer .final{
  margin-top: 10px;
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 10px; 
  font-family: Courier New;
}

/* End Footer */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
